<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi Friend! Welcome to Angular~</h1>
    <h3>Resources that helped me:</h3>
    <div class="resources">
        <div class="link-item"><a routerLink="https://angular.io/tutorial">Tour of Heroes</a></div>
        <div class="link-item"><a routerLink="https://www.youtube.com/watch?v=5wtnKulcquA">Video Tutorial</a></div>
        <div class="link-item"><a routerLink="https://alligator.io/angular/angular-material-2/">Angular Material</a></div>
    </div>
</body>
</html>
